/* TAGS */

body {background-color: #f0f0f0; margin-left: 30px; margin-right: 30px; margin-top: 1px;}

h1 {font-family: serif; font-size: 45px; font-weight: normal; line-height: 40px; padding: 20px; text-align: center;}

h2 {font-family: 'Source Sans Pro', sans-serif; font-size: 28px; font-weight: 400; line-height: 32px; margin: 24px;}
h3 {text-align: center; padding: inherit; padding: 25px;}
h4 {text-align: center; padding: inherit; padding: 25px}

p {font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 30px; padding-top: 10px;}

footer {background-color: #62acb5; color: #ffffff;
    padding-top: 5px;
    margin-top: 40px;
    display: block;}

script {font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 32px; margin-top: 24px; padding-top: 20px;}

button {background-color: #62acb5; text-align: center;}

iframe {margin-left: 150px;}



/* NAV and FOOTER LINKS */
nav, .navbar   {background-color: #62acb5; color: #ffffff; margin-bottom: 20px;}

.nav-link, .footerlinks  {color: #ffffff;}
.nav-link:hover, .footerlinks:hover {color: #000000;}

.col-sm-4 {font-family: 'Source Sans Pro', sans-serif; font-size: 18px; text-align: center;}

/* CLASSES */
.rightalign {text-align: right}
.homebutton {color: #ffffff;}
.centertext {text-align: center;}
.line {border-top: 2px solid #62acb5; margin-top: 5px;}
.centerpic {  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cultivatorsundertext {text-align: center; font-size: 15px;}

/* IDS */
#day, #month, #year, #date, .date {display: inline;}

#homebutton1 {background-color: #62acb5}
#homebutton2 {background-color: #62acb5}
#homebutton3 {background-color: #62acb5}

#hidesmall {margin-top: 50px;}



#favcolor, #favmusic, #gradDate, #sport, #puzzle, #favanimal, #triplet {
    display: block;
    border: 2px solid #62acb5;
    border-radius: 5px;
    vertical-align: middle;
    width: 300px;
    margin: auto;
    color: #354B5E;
    padding-top: 40px;
    margin-top: 5px;
    text-align: center;
    padding: 45px 0;}